html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.my-navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;
    min-height: 70px;
}

.my-container {
    height: calc(100% - 70px);
    display: flex;
}

#map_canvas {
    height: 100%;
}

.my-map {
    height: 100%;
    position: relative;
}

.my-side-bar {
    height: 100%;
}

.my-btn {
    background: none rgb(255, 255, 255);
    border: 0px;
    padding: 10px;
    text-transform: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    color: #666666;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.draw {
    position: absolute;
    z-index: 999;
    width: inherit;
    top: 0;
    right: 10px;
}

.draw-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    color: #fff;
    background-color: rgba(68, 68, 68, .7);
    padding: 0px 10px;
}

#drawpoly {
    display: inline-block;
    margin: 10px;
}

.my-d-none {
    display: none;
}

.my-text {
    font-size: 14px;
    font-weight: 500;
}

.gm-ui-hover-effect {
    display: none !important;
}

.gm-style-iw {
    padding: 10px !important;
    overflow: hidden;
}

.gm-style-iw-d {
    overflow: hidden !important;
}

.gm-style-mtc {
    bottom: 15px !important;
    right: 30px !important;
}

.gm-style-mtc ul {
    top: -180% !important;
    max-width: 100px !important;
}

.gm-style-mtc button {
    min-width: 100px !important;
}